$Pink: hsl(322, 100%, 66%);
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 22%, 65%);
$Grayish-Blue: hsl(208, 11%, 55%);
$footer-bgcolor: #00252e;
$font-sizes: (
  "font-sm": 12px,
  "font-md": 14px,
  "font-lg": 18px,
);
$font-weights: (
  "font-lw": 300,
  "font-nw": 400,
  "font-bw": 700,
);
$font-families: (
  "Poppin": "Poppins",
  "Open-sans": "Open Sans",
);
